@import "~antd/dist/antd.css";

.site-layout-content {
  padding: 30px;
  min-height: 100vh;
  background: rgb(80,147,119);
  background: linear-gradient(0deg, rgba(80,147,119,1) 0%, rgba(52,68,69,1) 30%, rgba(50,55,64,1) 70%);
}
